<%= form_for @user, html: {id: 'edit-user-form', data: current_user.id} do |f| %>
  <%= render 'shared/errors_mess', object: @user %>
  <div class="container c-user-edit">
    <h1><b>Profile</b></h1>
    <hr>
      <div class = "img-edit-u">
        <div class = "img-edit-u1">
          <%= image_tag "#{@user.avatar}", alt: 'avatar.jpg', id: 'output-img-edit' %>
        </div>
         <%= f.file_field :avatar, class: 'btn btn-light', accept:"image/*", onchange:"loadFile(event)" %>
      </div>

      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Enter Name", value:"#{@user.name}", autocomplete: 'off' %>

      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "Enter Email", value:"#{@user.email}", autocomplete: 'off' %>

       <label>
        <input type="checkbox" class = "checked-box" name="remember" style="margin-bottom:15px" > Change Password
      </label>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Enter Password", disabled: true %>

    <div class="user-edit-b">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="editbtn">Edit</button>
    </div>
  </div>
<% end %>